* {
	margin: 0;
	padding: 0;
	position: relative;
}

:root {
	--purple: #331E38;
	--lightpurple: #706993;
	--aqua: #70A0AF;
	--rustgreen: #A0C1B9;
	--peach: #F4E8C1;

	--debug-width: 100px;
	--debug-height: 100px;
}

body {
	background: var(--peach);
}

.invoice {
	height: 750px;
	width: 600px;
	border: 1px solid var(--purple);
}

.logo {
	position: absolute;

width: var(--debug-width);
height: var(--debug-height);
border: 1px solid var(--rustgreen);

top: 0px;
left: 0px;
}

.title {
	position: absolute; 
width: var(--debug-width);
height: var(--debug-height);
border: 1px solid var(--lightpurple);

top:0px;
left: 80%;
}

.bookkeeping {
	position: absolute; 
width: var(--debug-width);
height: var(--debug-height);
border: 1px solid var(--rustgreen);
top:100px;
left: 80%;
}

.number {
}

.date {
}

.contact {
	position: absolute; 
width: var(--debug-width);
height: var(--debug-height);
border: 1px solid var(--rustgreen);
margin-left: calc(50% - 100px);
top: 30%;
}

.customer {
	position: absolute;
width: var(--debug-width);
height: var(--debug-height);
border: 1px solid var(--rustgreen);

top:35%;
}

.address {

}

.employees {
	position: absolute;
width: 80%;
height: var(--debug-height);
border: 1px solid var(--rustgreen);

top:55%;
}

.services {
	position: absolute;
width: 80%;
height: var(--debug-height);
border: 1px solid var(--rustgreen);

top: 65%;
}

.payment {
	position: absolute;
width: var(--debug-width);
height: var(--debug-height);
border: 1px solid var(--rustgreen);

top: 80%;
}

footer {
	position: absolute;
top: 95%;
}